@model ML.Empleado
@{
    ViewBag.Title = "Form";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Empleado</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Form", "Empleado", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.IdEmpleado, new { @class = "hidden" })
                            @Html.TextBoxFor(model => model.IdEmpleado, new { @class = "form-control hidden" })
                            @Html.ValidationMessageFor(model => model.IdEmpleado)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Nombre)
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", placeholder = "Nombre", @id = "txtNombre", @onkeypress = "return SoloLetras(event)" })
                            @Html.ValidationMessageFor(model => model.Nombre)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.ApellidoPaterno, "Apellido Paterno")
                            @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", placeholder = "Apellido Paterno", @id = "txtApellidoPaterno", @onkeypress = "return SoloLetras(event)" })
                            @Html.ValidationMessageFor(model => model.ApellidoPaterno)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.ApellidoMaterno, "Apellido Materno")
                            @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", placeholder = "Apellido Materno", @id = "txtApellidoMaterno", @onkeypress = "return SoloLetras(event)" })
                            @Html.ValidationMessageFor(model => model.ApellidoMaterno)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Genero)
                            <div class="form-inline">
                                @Html.Label("Femenino:")
                                @Html.RadioButtonFor(model => model.Genero,"F", new { @id = "IdSexoFemenino" })
                                @Html.Label("Masculino:")
                                @Html.RadioButtonFor(model => model.Genero, "M", new { @id = "IdSexoMasculino" })                               
                            </div>
                            @Html.ValidationMessageFor(model => model.Genero)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Estatus, new { @class = "hidden" })
                            @Html.TextBoxFor(model => model.Estatus, new { @class = "form-control hidden" })
                            @Html.ValidationMessageFor(model => model.Estatus)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <input type="submit" onclick="return validarForm()" value="Guardar" class="btn btn-success" />
                            @Html.ActionLink("Regresar", "GetAll", "Usuario", htmlAttributes: new { @class = "btn btn-danger" })
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>